
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#container {
 width:  900px;
 margin: 0px auto;
 text-align: center;
}

#introduction {
  margin: 0 auto;
  text-align: left;
  width: 600px;
}

#introduction p {
  margin-bottom: 15px;
  font-size: 1.25em;
}

#introduction a {
  font-size: 1.25em;
}

#main_content {
  width: 100%;
  text-align: left;
}

canvas {
  border: 1px solid black;
  position: absolute;
  left: 0px;
  top: 0px;
}


.stage {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  margin-top: 100px;
}

.canvas_holder {
  margin: 0;
  position: relative;
  width: 600px;
  height: 400px;
}

.textblock {
  width: 600px;
  height: 400px;
  padding: 100px 50px;
  text-align: center;
}

#caption {
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

form input{
  border: 0;
  border-bottom: 1px solid black;
}

div.field_with_errors {
   border: 1px solid red;
   display: inline;
   padding: 2px;
}

div.bubble {
  background-image: url("/images/dialog_bubble.png");
  background-repeat: no-repeat;
  background-size: 240px auto;
  padding: 40px;
  height: 180px;
  width: 280px;
}

#dialog_form button {
  font-size: 1em;
  height: 2.5em;
}

#dialog_prompt {
  display: none;
  background-image: url("/images/dialog_bubble.png");
  background-repeat: no-repeat;
  background-size: 240px auto;
  padding: 40px;
  z-index: 100;
}

.dialog textarea {
  resize: none;
  border: 0;
  background-color: transparent;
  margin-bottom: 25px;
}
.prompt textarea {
}

#drawing_prompt {
  display: none;
  background-image: url("/images/cloud.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  z-index: 100;
}

.prompt canvas {
   border: 0;
   position: relative;
   z-index: 100;
}

ul.character_list {
  list-style: none;
}
ul.character_list li {
  float: left;
  width: 300px;
  text-align: center;
}
li.selected {
  background: yellow;
}
