
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #E3DDD3;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #wrapper {
    width: 980px;
    margin: 0px auto;
  }

  .diagram_holder {
    float: left;
    width: 600px;
  }

  .diagram {
    display: table-cell;
    border: 1px solid black;
    color: white;
  }

  .diagram canvas {
  }

  .led {
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
  }

  .led canvas {
  }

/******************************/
/* palette */

  div.palette {
    float: left;
    width: 110px;
  }

  .palette li {
    float: left;
    list-style: none;
  }

  div.pot {
    width: 50px;
    height: 50px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    position: relative;
    border: 2px solid #eee;
    background-color: #ffcc00;
  }
  div.pot:hover {
    cursor: pointer;
  }

  span.color_drag {
    background-color: #f7ecc0;
    font-size: smaller;
    padding: 2px 2px 1px 2px;
    z-index:100;
  }

/******************************/
/* frames */
  .frameset {
    width: 600px;
    padding: 5px;
  }

  .frameset li {
    float: left;
    margin: 2px;
    list-style: none;
  }

  div.frame {
    width: 30px;
    height: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    background-color: #666;
    font-color: #white;
    font-size: larger;
  }

  .frameset .selected {
    background-color: #ffa81e;
  }

/******************************/
/* buttons */

  div.frameset,
  div.buttons
  {
    clear: both;
  }

  .frame_op {
    float: left;
  }

  .frameset_op {
    float: right;
  }

/******************************/
/* text output */

  .colordata {
    width: 100%;
    height: 100%;
  }

  .colordata textarea {
    height: 100%;
    width: 100%;
    resize: none;
  }

/******************************/
/* notices */

  .notice {
    float: left;
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #d3d3b8;
    
  }

  .notice div {
    padding: 10px 0;
    min-height: 75px;
  }

