
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #E3DDD3;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .diagram {
    display: table-cell;
    border: 1px solid black;
    background-color: white;
  }

  .diagram canvas {
  }

  .led {
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
  }

  .led canvas {
  }

/******************************/
/* palette */

  div.palette {
    float: left;
    width: 110px;
  }

  .palette li {
    float: left;
  }

  div.pot {
    width: 50px;
    height: 50px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
    position: relative;
    border: 2px solid #eee;
    background-color: #ffcc00;
  }
  div.pot:hover {
    cursor: pointer;
  }

  span.color_drag {
    background-color: #f7ecc0;
    font-size: smaller;
    padding: 2px 2px 1px 2px;
    z-index:100;
  }


