/* reset ****************************************************/
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #c1c451;
}

#outer_container {
  min-width: 950px;
  margin: 0 auto;
  background-color: #c1c451;
}

/* menu bar *************************************************/

.menubar {
  height: 1.5em;
  padding: 10px 5px;
  background-color: #82964e;
  color: #60360C;
}

.menubar a {
  font-size: 1.1em;
  text-decoration: none;
  color: #E2E3AC;
}

.menubar a:link,
.menubar a:visited
{
  color: #E2E3AC;
}

.menubar a:hover
{
  color: #fec864;
}

.leftmenu {
  float: left;
}

.rightmenu {
  float: right;
}

.menubar ul {
  list-style: none;
}

.menubar li {
  display: inline ;
}

/* main content ********************************************/

.maincontent {
  clear: both;
  padding: 20px;
}

textarea {
  resize: none;
}

/* stream **************************************************/
div.stream {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  float: left;
}

.stream dt {
  background-color: #f0be45;
  margin: 0 2px;
  font-size: smaller;
}

.stream dd {
  background-color: #fef5ca;
  margin: 0 2px;
  padding: 0 2px 5px 2px;
}

.stream .title {
  font-size: 1.25em;
  font-weight: bold;
}

.stream .user {
  font-weight: bold;
}

.stream li {
  background-color: #fef5ca;
  padding: 5px;  
  margin: 2px 0;
}

