/* reset ****************************************************/
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  background-color: #c1c451;
}

#outer_container {
  min-width: 950px;
  margin: 0 auto;
  background-color: #c1c451;
}

/* menu bar *************************************************/

.menubar {
  height: 1.5em;
  padding: 10px 5px;
  background-color: #82964e;
  color: #60360C;
}

.menubar a {
  font-size: 1.1em;
  text-decoration: none;
  color: #E2E3AC;
}

.menubar a:link,
.menubar a:visited
{
  color: #E2E3AC;
}

.menubar a:hover
{
  color: #fec864;
}

.leftmenu {
  float: left;
}

.rightmenu {
  float: right;
}

.menubar ul, 
.submenubar ul {
  list-style: none;
}

.menubar li,
.submenubar li {
  display: inline ;
}

/* submenu */

.submenubar a {
  font-size: 1.1em;
  text-decoration: none;
  color: #60360c;
}

.submenubar a:link,
.submenubar a:visited,
.user a:link,
.user a:visited 
{
  color: #60360c;
  text-decoration: none;
}

.miniprofile .user a:hover,
.submenubar a:hover,
.user a:hover
{
  color: #d25831;
}

/* main content ********************************************/

.maincontent {
  clear: both;
  padding: 20px;
}

textarea {
  resize: none;
}

.notice {
  color: #F53D00;
  text-align: center;
  padding: 20px;
}

/* welcome *************************************************/

div.centering {
  width: 900px;
  margin: 0px auto;
  text-align: center;
}

div.form_content {
  margin: 0px auto;
  text-align: left;
}

.form_content input {
  width: 95%;
}

#welcome {
  width: 550px;
  height: 300px;
  background-color: #fef5ca;
  float: left;
}

#welcome .name {
  font-size: 3.5em;
}

.logo {
  min-height: 270px;
}

#recent_posts {
  width: 300px;
  float: right;
}


/* stream **************************************************/
#streams_container {
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
}

div.stream {
  width: 300px;
  //padding: 10px;
  text-align: left;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
}

.stream_content {
  margin-top: 2px;
  height: 600px;
  overflow-y: auto;
}

.stream dt {
  background-color: #f0be45;
  margin: 0 2px;
  font-size: smaller;
}

.stream dd {
  background-color: #fef5ca;
  margin: 0 2px;
  padding: 0 2px 5px 2px;
}

.stream .title {
  font-size: 1.25em;
  font-weight: bold;
}

.stream .description{
  font-size: .9em;
}

.user {
  font-weight: bold;
  font-size: 1.25em;
}


.stream li {
  background-color: #fef5ca;
  padding: 5px;  
  margin: 2px 0;
}

.stream button {
  float: right;
}

/* jquery-ui ***********************************************/

.miniprofile {
  background: #c1c451;
  font-size: .9em;
}

.miniprofile .ui-dialog-titlebar {
  background: #d35821;
}

.miniprofile a:link,
.miniprofile a:visited
{
  color: #60360c;
  text-decoration: none;
}

.ui-widget-overlay
{
  background: #000;
}

